.password-strength {
  background: #eee;
  height: 10px;
  position: relative;
}

.password-strength div {
  transition: all .5s ease-in-out;
  background: linear-gradient(left, #1f7c07, #79be10);
  display: block;
  height: 10px;
  left: 0;
  position: absolute;
  top: 0;
  width: 0%;
}

.password-strength[data-strength="0"] div {
  background: #db3434;
  width: 20%;
}

.password-strength[data-strength="1"] div {
  width: 40%;
}

.password-strength[data-strength="2"] div {
  width: 60%;
}

.password-strength[data-strength="3"] div {
  width: 80%;
}

.password-strength[data-strength="4"] div {
  width: 100%;
}